<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
    <div id="clock-container" style="position: absolute; top: 10px; left: 10px;">
        <!-- Clocks will be dynamically inserted here -->
    </div>
    <div class="container">
        <div class="left-panel">
            <h2>Contact Us</h2>
            <p>Email: sergeimn777@gmail.com</p>
            <p>Phone: +1 437 26 11773</p>
        </div>
        <div class="right-panel">
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                <label for="nickname">Nickname:</label>
                <input type="text" id="nickname" name="nickname" placeholder="Enter your nickname" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <script src="{% static 'clock/clock.js' %}"></script>
</body>
</html>
